/*.intro-text {
height: auto;
align-items: center;

}
*/
.section-o-nama {
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/back.jpg');
  z-index: -10;
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.intro-text h2 {
  font-size: 2.5rem;
  font-weight: 100;
  font-family: Great Vibes;
  text-align: center;
  max-width: 75%;
  margin: auto;
  padding: 5rem;
}

.t-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;
}

.t-image {
  height: 220px;
  z-index: 1;
}

.link h3 {
  text-align: center;
  color: wheat;
  font-weight: 200;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}


.link {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.button {
  width: 188px;
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: 1rem;
  background: transparent;
  border-radius: 100px;
  border: 3px solid wheat;
  color: wheat;
  padding: 5px 20px 5px 20px;
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  color: black;
  background-color: wheat;
}

.slow img{


  min-height: 500px;
  
 
}
.intro-text {
  background-color: white;
  position: relative;
 

}

.bcgImage{
 
width: 100% !important;
height: 100vh!important;

}

 .parallax {
  

  background-image: url('../../assets/52jpg.jpg');

  min-height: 500px;
  background-position: center;

  background-attachment: fixed;
  
  background-repeat: no-repeat;
  background-size: cover;
}




/*.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
}*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.slide {
  width: 300px;
  height: 322px;
  display: flex;
  z-index: 10;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;

}

.slide img {
  width: 300px;
  height: 260px;
  z-index: 20;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.slide-text {
  align-items: center;
  display: flex;
  margin: auto;
}

.slide-text h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
  text-align: center;
  margin: auto;
}

.preporuka {
  text-align: center;
  color: wheat;
  margin-bottom: 3rem;
}

.dostava {
  display: flex;
  justify-content: space-around;
  padding: 2.5rem 0;
  margin: auto;
  align-items: center;

}

.dostava-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.banner-gr {
  background-image: url('../../assets/gr.jpg');
  height: 75vh;
background-size: cover;
background-position: center;
}

.dostava-text h3 {
  color: black;
  font-weight: 600;
}

.dostava img {
  width: 16%;
  height: auto;
  position: relative;
}

.dostava a {
  color: black;
}

@media screen and (max-width:900px) {

  .intro-text h2 {
    font-size: 2rem;
    max-width: 100%;
    padding: 4rem;
  }

  .t-cards {
    flex-direction: column;
  }

  .link {
    margin-top: 2rem;
  }

  .dostava {
    flex-direction: column-reverse;
  }

  .dostava-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  
  .parallax {
  

    background-image: url('../../assets/52jpg.jpg');
  
   
    background-position: center;
  
    background-attachment: fixed;
    
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
}

