.images-container {
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap:1rem
}

.image {

    width: 100%;
    cursor: pointer;
    height: 20rem;
}
.image img {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}