
.our-story-container  {
    margin: 4rem 0rem;
    color: rgb(0, 0, 0);
    z-index: -100;  
}


.img {transition: all .2s ease-in-out; 
    
    
    
    }
    
.img:hover {
    transform: scale(1.05);
    }


.our-story-container p {
    font-family: roboto slab;
    font-weight: 200;
    line-height: 1.75rem;
    font-size: 1.25rem;
    padding: 1.5rem 0;
}

.our-story-container h2 {
    font-family: roboto slab;
    font-size: 2.5rem;
    font-weight: 600;
}

.our-story {
    display: flex;
    justify-content: space-around;
    
}

.our-story-container img {
    width: 100%;
    height: auto;
    box-shadow: 10px 5px 5px rgb(109, 107, 107);
    transition: all .2s ease-in-out; 
}


.our-story-container img:hover {
transform: scale(1.05);
}


.our-story-one {
max-width: 45%;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
height: auto;
padding: 2rem;
}

.nasa-prica h2 {
    font-family: roboto slab;
    font-size: 2.5rem;
    font-weight: 600;
}




.nasa-prica img {
height: 15px;
width: auto;
box-shadow: none;
}
.our-story-img img {
    width: 48%;
    height: auto;
    display: block;
    box-shadow: 2px 3px 3px rgb(109, 107, 107);
    transition: all .2s ease-in-out; 
}
.our-story-img img:hover{
transform: scale(1.05);
}
.our-story-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1rem;
    margin-bottom: 3rem;

}


.button-menu {
    width: 188px;
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 1rem;
    background: transparent;
    border-radius: 100px;
    border: 3px solid black;
    color:black;
    padding: 5px 20px 5px 20px;
    font-size: 1rem;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    z-index: 1;
  }
  
  .button-menu:hover {
    color: black;
    background-color: wheat;
  }
  
.our-story-button{
padding-bottom: 2rem;
z-index: 1;

}

.first-story {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
margin-top: 4.5rem;

padding: 4rem 4rem;


}



.second-story {
    display: flex;
    flex-direction: row-reverse;
   align-items: center;
   justify-content: space-between;
   margin-top: 4.5rem;
   width: 100%;
   
   background-image: url('../../assets/back.jpg');
 
   z-index: -100;
   padding: 4rem 4rem;
   border-radius: 6px;
}

.story-text {
    width: 45%;
    text-align: justify;
    font-size: 1.1rem;
}


.first-story p {
   color: black
    
}
.second-story p {
    color: wheat
     
 }


 .second-story h2 {
        font-size: 2rem;
       color: wheat;
}
.first-story h {
    font-size: 2rem;
   color: black;
}

.image {
    width: 50%;
    display: flex;
    position: relative;
    justify-content: space-between;
   
   z-index: 1;
   
  
}
.image img {
width: 49%;
height: 276px;
object-fit: cover;
border-radius: 6px;
box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
z-index: -10;

}

.image img:nth-child(2) {
    position:absolute;
    top:-10%;
    right: 0;
}

/*.small-card-cont {
    display: flex;
    padding: 3rem 2rem;
    background-image: 
    url('../../assets/back.jpg');
    justify-content: space-between;
    
}*/

@media screen and (max-width:850px)
{
.our-story-container {
    margin:3rem 0.75rem;
}

.our-story {
    flex-direction: column;
    width: 100%;
}

.our-story-one {

    max-width: 100%;
    margin-bottom: 1rem;
    padding: 2rem 0.75rem;
}

.our-story-img img {
    width: 100%;
}

.first-story, .second-story {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin-top: 1rem;
   width: 100%;
   padding: 4rem 0.75rem;
}
.story-text {
    width: 100%;
    text-align: justify;
  
}

.story-text  h2 {
    text-align: center;
}
.image {
    width: 100%;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-between;
}

.image img {
    width: 100%;
}
.image img:nth-child(2) {
    position:relative;
   top: 0;
   margin-top: 0.75rem;
}


}